@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Poppins", sans-serif;

  --color-primary: #a78f69;

  --animate-in: fade-in 300ms ease-out both;
  --animate-out: fade-out 300ms ease-in both;
  --animate-fade-in: var(--animate-in);
  --animate-fade-out: var(--animate-out);
  --animate-accordion-down: accordion-down 100ms ease-out;
  --animate-accordion-up: accordion-up 100ms ease-in;
  --animate-slide-in: slide-in 300ms ease-out both;
  --animate-slide-out: slide-out 300ms ease-in both;
  --animate-slide-out-to-left: slide-out-to-left 300ms ease-in both;
  --animate-slide-in-from-left: slide-in-from-left 300ms ease-out both;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slide-out-to-left {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--accordion-content-height,);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--accordion-content-height,);
    }
    to {
      height: 0;
    }
  }
}

@layer utilities {
  .fade-in {
    animation: var(--animate-in);
  }
  .fade-out {
    animation: var(--animate-out);
  }
  .accordion-down {
    animation: var(--animate-accordion-down);
  }
  .accordion-up {
    animation: var(--animate-accordion-up);
  }
  .slide-in {
    animation: var(--animate-slide-in);
  }
  .slide-out {
    animation: var(--animate-slide-out);
  }
  .slide-out-to-left {
    animation: var(--animate-slide-out-to-left);
  }
  .slide-in-from-left {
    animation: var(--animate-slide-in-from-left);
  }
}
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a78f69;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a78f69;
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a78f69 #fff;
}

.swiper-slide {
  max-width: fit-content;
}

.no-scroll {
  overflow: hidden !important;
}
